<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\CatalogImportExport\Model\Export\Product">
        <plugin name="set_strict_sku_filter" type="Rubic\ProductMaintenance\Plugin\SetStrictSkuFilterPlugin" />
        <plugin name="separate_attribute_columns" type="Rubic\ProductMaintenance\Plugin\SeparateAttributeColumnsPlugin" />
    </type>
    <type name="Magento\CatalogImportExport\Model\Import\Product">
        <plugin name="separate_attribute_columns" type="Rubic\ProductMaintenance\Plugin\SeparateAttributeColumnsPlugin" />
    </type>
    <type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">
        <plugin name="add_maintenance_actions" type="Rubic\ProductMaintenance\Plugin\AddMaintenanceActionsPlugin" />
    </type>
</config>