<?xml version="1.0"?>
<!--
    Copyright © 2018 Rubic. All rights reserved.
    See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="product_maintenance" translate="label" type="text" sortOrder="400" showInDefault="1" showInWebsite="0" showInStore="0">
            <label>Product Maintenance</label>
            <tab>service</tab>
            <resource>Rubic_ProductMaintenance::config_product_maintenance</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="product_directory" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Product Directory</label>
                </field>
                <field id="separate_attribute_columns" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Separate Attribute Columns</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>If enabled, puts user defined attribute in separate columns instead of using additional_attributes column.</comment>
                </field>
            </group>
        </section>
    </system>
</config>